@page
@model KeeganSutherland.Pages.AliaModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alia - Keegan Sutherland</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/alia.css" />
</head>
<body>
    <article>
        <h1>2 Year Anniversary</h1>
        <div class="container">
            <div class="row">
                <p>Alia, you're my best friend, the love of my life, and my favorite person to spend all my free time with. It's been amazing being married to you for the past 2 years, and I love thinking about how we'll be together forever. We've been on so many adventures together and so many memories made along the way.</p>
                <p>You make me feel so happy, so grateful, and so loved. I love spending time with you because being with you feels like home. You're the best teammate and best friend a guy could ask for. Wow! Two years babe, this is an incredible feeling knowing that we've been married for that long. I'm so so so thankful you messaged me on Facebook over five years ago. That message created what we have today.</p>
                <p>I love you Alia &#10084;</p>
            </div>
            <div class="row">
                <img src="~/img/kiss.jpg" class="col-lg-10 align-self-center" />
            </div>
        </div>
    </article>
</body>
</html>
