@page
@model IndexModel
@{
    ViewData["Title"] = "Home";

    DateTime dateOfBirth = new DateTime(1994, 8, 23);
    DateTime dateOfDevCasually = new DateTime(2013, 8, 19);
    DateTime dateOfDevProfessionally = new DateTime(2016, 5, 9);


    int age = (int.Parse(DateTime.Now.ToString("yyyyMMdd")) - int.Parse(dateOfBirth.ToString("yyyyMMdd"))) / 10000;
    int devCasuallyYears = (int.Parse(DateTime.Now.ToString("yyyyMMdd")) - int.Parse(dateOfDevCasually.ToString("yyyyMMdd"))) / 10000;
    int devProfessionallyYears = (int.Parse(DateTime.Now.ToString("yyyyMMdd")) - int.Parse(dateOfDevProfessionally.ToString("yyyyMMdd"))) / 10000;
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Keegan Sutherland</h1>
        <p>I'm a <span class="typed" data-typed-items="Full Stack .Net Web Developer, Tech Enthusiast, Runner, Husband"></span></p>
    </div>
</section><!-- End Hero -->
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <h2>About</h2>
                <p>Hi, I'm Keegan! I've been developing casually for about @devCasuallyYears years and professionally for about @devProfessionallyYears years.
                I am very motivated, disciplined, and organized when it comes to both my personal life and professional career. In my free time I love to run, hike, bike, swim in Lake Michigan, tinker around with my gadgets, and play video games.
                I love the outdoors, especially exploring West Michigan and all it has to offer from the towns, to the beaches, to the trails.</p>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="~/img/profile-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Full Stack .Net Web Developer.</h3>
                    <p class="font-italic">
                        I love working in the .Net stack and learning all about the newest .Net technologies. I develop with frontend, backend, and database technologies to create a seamless experience for the user.
                        I utilize AWS to keep hosting costs low and downtime minimal. I've developed websites, web applications, applications, and SOAP/REST APIs.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Birthday: </strong>@dateOfBirth.ToString("MMM dd, yyyy")</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Age: </strong>@age</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Website: </strong>keegansutherland.com</li>
                                <li><i class="icofont-rounded-right"></i> <strong>City: </strong>Grand Rapids, MI</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Degree: </strong>Bachelor of Science</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Major: </strong>IS – Systems Development/Analyst</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Minor: </strong>Business Administration</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Freelance: </strong> Available</li>
                            </ul>
                        </div>
                    </div>
                    @*<p>
                        Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                        Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
                    </p>*@
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Facts Section ======= -->
    @*<section id="facts" class="facts">
        <div class="container">
            <div class="section-title">
                <h2>Facts</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up">232</span>
                        <p><strong>Happy Clients</strong> consequuntur quae</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="icofont-document-folder"></i>
                        <span data-toggle="counter-up">521</span>
                        <p><strong>Projects</strong> adipisci atque cum quia aut</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="icofont-live-support"></i>
                        <span data-toggle="counter-up">1,463</span>
                        <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="icofont-users-alt-5"></i>
                        <span data-toggle="counter-up">15</span>
                        <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- End Facts Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Skills</h2>
                <p>I have developed in a wide range of .Net programming languages and technologies that allows me to choose the best option for my client's needs.</p>
            </div>
            <div class="card-deck row skills-content" data-aos="fade-up">
                <div class="card-container col-lg-6 mb-2">
                    <div class="card">
                        <div class="card-header bg-white border-0">
                            <h2>Frontend</h2>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/html5.png" alt="C#" class="w-100">
                                        HTML
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/css3.png" alt="C#" class="w-100">
                                        CSS
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/bootstrap.png" alt="C#" class="w-100">
                                        Bootstrap
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/javascript.png" alt="C#" class="w-100">
                                        JS
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/jquery.png" alt="C#" class="w-100">
                                        jQuery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-container col-lg-6 mb-2">
                    <div class="card">
                        <div class="card-header bg-white border-0">
                            <h2>Backend</h2>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/c-sharp.png" alt="HTML5" class="w-100">
                                        C#
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/vb.png" alt="HTML5" class="w-100">
                                        VB
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/dotnet-framework.png" alt="HTML5" class="w-100">
                                        Microsoft .Net
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/dotnet-core.png" alt="HTML5" class="w-100">
                                        .Net Core
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/java.png" alt="HTML5" class="w-100">
                                        Java
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck row skills-content" data-aos="fade-up">
                <div class="card-container col-lg-6 mb-2">
                    <div class="card">
                        <div class="card-header bg-white border-0">
                            <h2>Database</h2>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/microsoft-sql-server.png" alt="C#" class="w-100">
                                        MS SQL Server
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/aws-aurora.png" alt="C#" class="w-100">
                                        AWS Aurora
                                    </div>
                                    <div class="col pb-3 pl-3 pr-3 skill">
                                        <img src="~/img/skills/mysql.png" alt="C#" class="w-100">
                                        MySQL
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Skills Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
            <div class="section-title">
                <h2>Resume</h2>
                <p>Self-motivated, enthusiastic, and detail-oriented software engineer with a solid understanding of object-oriented programming and broad-based experience designing, developing, testing, and modifying enterprise-wide end-user, system-level, and data management software.
                Leveraged the ability to manage multiple projects simultaneously with technical and non-technical attributes, demonstrated basic understanding of software development concepts, principles, and theory and a proven ability to follow and apply basic programming and analytical concepts.
                Met tight deadlines, collaborated with teams, and comprehension of new concepts quickly and accurately across evolving work environments.</p>
            </div>
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Web Developer</h4>
                        <h5>Feb 2019 - Present</h5>
                        <p><em><a target="_blank" href="https://www.xrite.com/">X-Rite</a>, Grand Rapids, MI </em></p>
                        <ul>
                            <li>Full stack .Net developer for around 150 applications consisting of websites, web applications, sync jobs, and SOAP/REST APIs.</li>
                            <li>Met with internal customers to get details for my own projects and projects for the three contractor's I managed.</li>
                            <li>Built up the web team's reputation by improving customer relationships, finishing project on time, and putting customer VOC into action.</li>
                            <li>Used C#, VB, ASP.NET, ASP.NET MVC, .Net Core, SQL, HTML5, CSS3, JS, jQuery, and Bootstrap 4 to add and update features on existing applications as well as create new ones.</li>
                            <li>Became certified in Sitecore 9.1 so that I could develop the <a target="_blank" href="https://www.xrite.com/">corporate website</a> and understand it's underlying technology.</li>
                            <li>Ensured application security was the highest priority by disabling old protocols and cyphers, removing XSS and SQL injection vulnerabilities, and carefully reading pull request changes.</li>
                            <li>Implemented API testing using Postman for the web team and wrote documentation on the best practices and held training sessions.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Software Engineer I</h4>
                        <h5>Aug 2018 - Jan 2019</h5>
                        <p><em><a target="_blank" href="https://www.thinkoccam.com/">Occam</a>, Hanover Park, IL</em></p>
                        <ul>
                            <li>Full stack .Net developer for custom software used to link patient information across systems and freeing systems of duplicate records. I worked on the QA, Integration, and Engineering teams.</li>
                            <li>QA Analyst: Developed an app to generate random patient data for testing and automated API tests in Postman to speed up the QA process. I used C#, WPF, Postman and JavaScript.</li>
                            <li>Integration: Analyzed the Occam software at clients and built integration interfaces for clients; I used Iguana, SQL, Visio and Excel.</li>
                            <li>Engineering: Designed features and implemented an automated API Help page. I used C#, ASP.NET and HTML5.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Software Engineer Intern</h4>
                        <h5>May 2017 - Aug 2017</h5>
                        <p><em><a target="_blank" href="https://www.thinkoccam.com/">Occam</a>, Hanover Park, IL</em></p>
                        <ul>
                            <li>Full stack developer for custom software used to link patient information across systems and freeing systems of duplicate records.</li>
                            <li>Used C#, ASP.NET, ASP.NET MVC, SQL, HTML5, CSS3, JS and jQuery to add new features in their ASP.NET app and convert old WPF apps to ASP.NET MVC apps.</li>
                            <li>Handled sensitive patient data and followed HIPPA compliance to ensure it safety.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Software Engineer Intern</h4>
                        <h5>May 2016 - Aug 2016</h5>
                        <p><em><a target="_blank" href="https://www.pattersoncompanies.com/">Patterson Companies</a>, Effingham, IL</em></p>
                        <ul>
                            <li>Wrote test scripts for backend code as well as created features for the UI on the cloud-based web application, <a target="_blank" href="https://www.pattersondental.com/fuse">Fuse</a>.</li>
                            <li>QA Analyst: Writing NUnit test scripts for backend server-side code using C# in Visual Studio.</li>
                            <li>Web Developer: Creating features for the Azure cloud-based web application for their new dental software using JavaScript, HTML5, and CSS3, LESS in Visual Studio.</li>
                            <li>General: The project was set up in an agile environment with two-week sprints. I ran a few of the daily meeting and worked closely with my team to complete work for the sprint.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Resume Section -->
    <!-- ======= Portfolio Section ======= -->
    @*<section id="portfolio" class="portfolio section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="!/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a asp-page="/PortfolioDetails" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <!-- End Portfolio Section -->
    <!-- ======= Services Section ======= -->
    @*<section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                    <h4 class="title"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="icofont-earth"></i></div>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="icofont-image"></i></div>
                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="icofont-settings"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
            </div>
        </div>
    </section>*@
    <!-- End Services Section -->
    <!-- ======= Testimonials Section ======= -->
    @*<section id="testimonials" class="testimonials section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Testimonials</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item" data-aos="fade-up">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                </div>
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                </div>
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                </div>
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                </div>
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="~/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                </div>
            </div>
        </div>
    </section>*@
    <!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
    @*<section id="contact" class="contact">
        <div class="container">
            <div class="section-title">
                <h2>Contact</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="row" data-aos="fade-in">
                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>Grand Rapids, MI</p>
                        </div>
                        <iframe src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Grand%20Rapids+(Keegan%20Sutherland)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" placeholder="Message" data-rule="required" data-msg="Please write something for us"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>*@
    <!-- End Contact Section -->
</main><!-- End #main -->